# encoding: utf-8
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<p>新书推荐</p>
	<div class="row">
		<ul class="thumbnails">
			<% @books_new.each do |book| %>
			<li class="span2">
				<div class="thumbnail">
					<img class="img-rounded img_cursor" src="<%= book.picture %>" style="width: 160px; height: 160px;" alt="封面"
						onclick="show_book_info('<%= book_path(book.id) %>')">
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<!-- some tips-->
<div class="row">
	<!-- <div class="span4">
		<h4 class="offset3"><span class="btn btn-info">应用下载</span></h4>
		<ul class="inline">
		  <li><%#= link_to image_tag("libmobile_icon.png", alt: "app-link", size: "100"), '#' %></li>
		  <li><%#= image_tag("libmobile_qrcode.png", alt: "app-qrcode", size: "100") %></li>
	  	</ul>
	</div> -->
	<div class="span4">
		<h4 class="offset3"><span class="btn btn-info">管理员</span></h4>
		<dl class="offset2">
			<% @admins.each do |admin|%>
				<dt><%= admin.name %></dt>
				<dd><%= admin.email %></dd>
			<% end%>
			
		</dl>
	</div>
	<div class="span4">
		<h4 class="offset3"><a href="https://confluence.successfactors.com/display/QA/Minerva%27s+Book+Lib" class="btn btn-primary">关于</a></h4>
		<ol class="offset2">
			<li>本系统为SuccessFactors内部使用</li>
			<li>账号为SAP或SF邮箱</li>
			<li>若账号无法使用，请联系管理员</li>
			<li>爱护书籍，让知识更好地传递</li>
		</ol>
		
	</div>
	<div class="span4">
		<h4 class="offset3"><span class="btn btn-success">微信</span></h4>
		<%= image_tag "wechat_code.jpg", size: "200", class: "offset1"%>
	</div>
</div>
