<div id="userdetail"  role="dialog" aria-hidden="true">
	<%= form_for @user do |f| %>
    <%= render partial: 'helper/error_bar', locals: {object: @user} %>
		<%= render partial: 'form', locals: {f: f, new_page: false}%>
	<div class="modal-footer">
		<%= link_to "返回", user_path(@user.id), class: "btn btn-info left_align"%>
		<%= f.submit "修改", class: "btn btn-primary" %>
	</div>
	<% end %>
</div>
