# encoding: utf-8
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span7">
			<div id="search">
			  <%=form_tag users_path,:remote=>'true', :method => 'get' do %>
			  <p>
			  <%= text_field_tag :tag, params[:tag] %>
			  <%= submit_tag "查找", :name => nil , :class => "btn" %>
			  </p>
			  <% end %>
			</div>
			<%= will_paginate @users %>
				<table class="table  table-hover">
					<!-- <caption>用户列表</caption> -->
					<thead>
						<tr>
							<th>姓名</th>
							<th>团队</th>
							<th>邮箱</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
							<tr style="cursor: pointer;">
							<td onclick="show('<%= edit_user_path(user.id)%>')"><%= user.name %></td>
							<td onclick="show('<%= edit_user_path(user.id)%>')"><%= user.team %></td>
							<td onclick="show('<%= edit_user_path(user.id)%>')"><%= user.email %></td>

							<td><%= link_to "删除", user_path(user.id), method: "delete", class: "btn btn-danger", data: { confirm: '确定删除?'}%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			<%= will_paginate @users %>
		</div>
		<div class="offset2 span3">
			<%= form_for(:user, url: users_path ) do |f| %>
			    <label class="control-label" for="uname">姓名:</label>
			    <div class="controls">
					<%= f.text_field :name %>
			    </div>
			    <label class="control-label" for="uemail">邮箱:</label>
			    <div class="controls">
			      <%= f.text_field :email %>
			    </div>
			    <label class="control-label" for="uteam">团队:</label>
			    <div class="controls">
			      <%= f.text_field :team %>
			    </div>
			    <label class="control-label" for="ucate">类型:</label>
			    <div class="controls">
			      <%= f.text_field :cate %>
			    </div>
			    <div class="controls">
					<%= f.submit "提交", class: "btn" %>
			    </div>
			<% end %>
		</div>
	</div>
</div>


<script>
function show(path){
   popWin.showWin("700","400","用户信息", path);
 }
</script>
