<%= will_paginate @borrowing %>
<div class="book container-fluid">
	<table class="table  table-hover">
		<caption>当前借阅</caption>
		<thead>
			<tr>
				<th>封面</th>
				<th>书名</th>
				<th>ISBN</th>
				<th>借书日期</th>
				<th>应还日期</th>
				<th>超期</th>
				<th>状态</th>
			</tr>
		</thead>
		<tbody>
			<% @borrowing.each do |book| %>
			<tr>
				<td><img class="img-rounded" src="<%= book.picture %>" alt="封面" style="width: 40px; height: 50px;"></td>
				<td><%= book[:name] %></td>
				<td><%= book[:isbn] %></td>
				<td><%= book[:created_at] %></td>
				<td><%= book[:should_return_date] %></td>
				<td><%=  book[:is_expired] == 1 ? "是" : "否" %></td>
				<td><%= book[:status] %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= will_paginate @borrowing %>