<%= will_paginate @borrowed %>
<div class="book container-fluid">
	<table class="table  table-hover">
		<caption>借阅历史</caption>
		<thead>
			<tr>
				<th>封面</th>
				<th>书名</th>
				<th>ISBN</th>
				<th>借书日期</th>
				<th>归还日期</th>
			</tr>
		</thead>
		<tbody>
			<% @borrowed.each do |book| %>
			<tr>
				<td></td>
				<td><%= book[:name] %></td>
				<td><%= book[:isbn] %></td>
				<td><%= book[:created_at] %></td>
				<td><%= book[:updated_at] %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= will_paginate @borrowed %>