# encoding: utf-8
<div class="row-fluid">
  <% search_path = params[:action] == 'admin_current' ? admin_ordering_path : current_list_orders_path %>
  <%= render partial: 'helper/search_box', locals: { path: search_path}%>
  <div class="span3 offset2">
    <%= render partial: 'helper/sort_box', locals: {sort_types: Order.current_sort_types, sort_model: 'order'}%>
  </div>
</div>
<%= will_paginate @orders %>
<% is_admin_page = params[:action] == 'admin_current' %>
<div class="book container-fluid">
  <table class="table  table-hover">
    <caption>当前预订</caption>
    <thead>
      <tr>
        <th>封面</th>
        <th>流水号</th>
        <th>书名</th>
        <th>预约时间</th>
        <th>排队情况</th>
        <% if is_admin_page %>
          <th>用户</th>
          <th>用户邮箱</th>
        <% end %>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr >
        <% book = order.book%>
        <td><img class="img-rounded" src="<%= book.picture %>" alt="封面" style="width: 40px; height: 50px;"></td>
        <td><%= order.id %></td>
        <td><%= book.name %></td>
        <td><%= order.created_at.to_formatted_s(:Y_m_D) %></td>
        <td>前方有<b><%= order.previous_order_count %></b>人排队</td>
        <% if is_admin_page %>
          <% user = order.user %> 
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        <% end %>
        <td><%= link_to "取消", cancel_order_path(order[:id]), method: "post", class: "btn btn-default", data: { confirm: '确定取消?'}%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @orders %>

