# encoding: utf-8
<%= will_paginate @orders %>
<% is_admin_page = params[:action] == 'admin_current' %>
<div class="book container-fluid">
  <table class="table  table-hover">
    <caption>当前预订</caption>
    <thead>
      <tr>
        <th>封面</th>
        <th>书名</th>
        <th>ISBN</th>
        <th>预定时间</th>
        <th>排队情况</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr >
        <% book = order.book%>
        <td><img class="img-rounded" src="<%= book.picture %>" alt="封面" style="width: 40px; height: 50px;"></td>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td><%= order.created_at.localtime.to_formatted_s(:Y_m_D) %></td>
        <td>前方有<b><%= book.order_queue_count-1 %></b>人<%= ORDER_STATUSES[order.status.to_i] %></td>
        <td><%= link_to "取消", cancel_order_path(order[:id]), method: "post", class: "btn btn-default", data: { confirm: '确定取消?'}%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @orders %>

