# encoding: utf-8
<%= will_paginate @orders %>
<% is_admin_page = params[:action] == 'admin_history' %>
<div class="book container-fluid">
  <table class="table  table-hover">
    <caption>预订历史</caption>
    <thead>
      <tr>
        <th>封面</th>
        <th>书名</th>
        <th>ISBN</th>
        <th>预约时间</th>
        <th>处理结果</th>
        <th>处理时间</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <% book = order.book%>
        <td><img class="img-rounded" src="<%= book.picture %>" alt="封面" style="width: 40px; height: 50px;"></td>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td><%= order.created_at.to_formatted_s(:Y_m_D) %></td>
        <td><%= order.status %></td>
        <td><%= order.book[:updated_at].to_formatted_s(:Y_m_D) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @orders %>
