# encoding: utf-8
<%= will_paginate @orders %>
<div class="book container-fluid">
	<table class="table  table-hover">
		<caption>当前预订</caption>
		<thead>
			<tr>
				<th>封面</th>
				<th>书名</th>
				<th>ISBN</th>
				<th>预定时间</th>
				<% if params[:action] == 'order_current' %>
					<th>状态</th>
				<% elsif params[:action] == 'order_history' %>	
					<th>获得时间</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><img class="img-rounded" src="<%= order.book.picture %>" alt="封面" style="width: 40px; height: 50px;"></td>
				<td><%= order.book.name %></td>
				<td><%= order.book.isbn %></td>
				<td><%= order.created_at.localtime.to_formatted_s(:Y_m_D) %></td>
				<% if params[:action] == 'order_current' %>
					<td><%= ORDER_STATUSES[order.status.to_i] %>，前方有<%= -order.book.store-1 %>人</td>
				<% elsif params[:action] == 'order_history' %>	
					<td><%= order.book[:updated_at].localtime.to_formatted_s(:Y_m_D) %></td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= will_paginate @orders %>
