# encoding: utf-8
<div class="book container-fluid">
	<% _action_path = params[:action] == 'recbook' ? recommend_path : books_path %>
	<%= form_for(:book, url: _action_path, method: 'post') do |f| %>
	<div class="modal-header">
		<center>
			<h4>图书信息</h4>
			<img id="img" class="img-rounded" src="" alt="封面" style="width: 100px; height: 140px;display: none;">
			<%= f.text_field :picture, class: "span3" %>
		</center>
	</div>
	<div class="modal-body non-scroll">
		<center>
			<div class="input-prepend">
			  <span class="add-on">ISBN:</span>
			  <%= f.text_field :isbn, class: "span6" %>
			  <%= link_to "查询", fetch_path, method:"get", class:"btn btn-info",id:"fetch", onclick: "fetch()",remote: true %>
			  <% _btn_label = params[:action]=="recbook" ? "推荐" : "添加" %>
			  <%= f.submit _btn_label, class: "btn btn-success", id: "submit" %>
			</div>
			<br>
				<div class="input-prepend">
			  	<span class="add-on">总数:</span>
			  <%= f.text_field :total, class: "span3", value: 1 %>
				</div>
			</br>
			<div class="input-prepend">
			  <span class="add-on">书名:</span>
			  <%= f.text_field :name, class: "span3", readonly: true %>
			  <span class="add-on">作者:</span>
			  <%= f.text_field :author, class: "span3", readonly: true %>
			</div>
			<br>
			<div class="input-prepend">
			  <span class="add-on">语言:</span>
			  <%= f.text_field :language, class: "span3", readonly: true %>
			  <span class="add-on">价格:</span>
			  <%= f.text_field :price, class: "span3", readonly: true %>	  
			</div>
			<div class="input-prepend">
				<span class="add-on">类别:</span>
			  <%= f.select :category, Book.category.options, prompt: '未选择', class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on">出版社:</span>
			  <%= f.text_field :press, class: "span3", readonly: true %>
			</div>
			<div class="input-prepend">
			  <span class="add-on">出版时间:</span>
			  <%= f.text_field :publish_date, class: "span3", readonly: true %>
			</div>
			<br>
			<div>
			  <span>简介 :</span><br>
			  <%= f.text_area :intro, size: "10x6", class: "span8", readonly: true %>
		  </div>
		</center>
	</div>
	<% end %>
</div>
<script>
function fetch(){
	isbn = $("#book_isbn").val();
	$("#fetch").attr('href',$('#fetch').attr('href').split("?")[0]+"?isbn="+isbn);
}

$(document).ready(function(){
	$("#submit").click(function(){
		var blankValue = false;
		if(!$("#book_isbn").val()){
			$("#book_isbn").addClass("error-border");
			blankValue = true;
		}
		if(!$("#book_category").val()){
			$("#book_category").addClass("error-border");
			blankValue = true;
		}

		if(blankValue){
			return false;
		}

	});
});

</script>
