# encoding: utf-8
<%= will_paginate @ordering %>
<div class="book container-fluid">
	<table class="table  table-hover">
		<caption>当前预订</caption>
		<thead>
			<tr>
				<th>封面</th>
				<th>书名</th>
				<th>ISBN</th>
				<th>预约时间</th>
				<th>状态</th>
			</tr>
		</thead>
		<tbody>
			<% @ordering.each do |book| %>
			<tr>
				<td><img class="img-rounded" src="<%= book.picture %>" alt="封面" style="width: 40px; height: 50px;"></td>
				<td><%= book[:name] %></td>
				<td><%= book[:isbn] %></td>
				<td><%= book[:created_at] %></td>
				<td><%= book[:status] %>，前方有<%= -book[:store]-1 %>人</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= will_paginate @ordering %>
