<div id="bookinfor" role="dialog" aria-hidden="true">
	<%= form_for @book do |f| %>
	<%= render partial: 'helper/error_bar', locals: {object: @book} %>
	<div class="modal-body">
		<center>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.name')%>:</span>
			  <%= f.text_field :name, class: "span6" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on">ISBN:</span>
			  <%= f.text_field :isbn, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.total')%>:</span>
			  <%= f.number_field :total, min: 0, step: 1, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.author')%>:</span>
			  <%= f.text_field :author, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.language')%>:</span>
			  <%= f.select :language, Book.language.options, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.press')%>:</span>
			  <%= f.text_field :press, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.category')%>:</span>
			  <%= f.select :category, Book.category.options, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.publish_date')%>:</span>
			  <%= f.date_field :publish_date, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.price')%>:</span>
			  <%= f.number_field :price, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.provider')%>:</span>
			  <%= f.text_field :provider, class: "span3" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on"><%= t('activerecord.attributes.book.picture')%>URL:</span>
			  <%= f.url_field :picture, class: "span6" %>
			</div>
			<div>
			  <span><%= t('activerecord.attributes.book.intro')%> :</span><br>
			  <%= f.text_area :intro, id: "intro", rows: 5, class: "span8" %>
		  </div>
		</center>
	</div>
	<div class="modal-footer">
		<%= f.submit "提交修改", class: "btn btn-primary" %>
	</div>
	<% end %>
</div>