# encoding: utf-8
<% is_admin_page = params[:action] == 'admin_index' %>
<% search_path = params[:action] == 'admin_index' ? admin_books_path : books_path %>
<div class="row-fluid">
	<%= render partial: 'helper/search_box', locals: { path: search_path}%>
	<div class="span3 offset2">
		<%= render partial: 'helper/sort_box', locals: {sort_types: Book.sort_types, sort_model: 'book'}%>
		<% if is_admin_page %>
		  <button onclick="add_book('<%= new_book_path %>')" class="btn  btn-info">添加图书</button>
		<% end %>
	</div>	
</div>

<%= will_paginate @books, remote: false %>
<div class="book container-fluid">
	<table class="table  table-hover">
		<caption>图书列表</caption>
		<thead>
			<tr>
				<th>封面</th>
				<th>编号</th>
				<th>书名</th>
				<th>作者</th>
				<th>ISBN</th>
				<th>语言</th>
				<th>类别</th>
				<th>总数</th>
				<th>库存</th>
				<th>排队人数</th>
			</tr>
		</thead>
		<tbody>
			<% @books.each_with_index do |book,index| %>
			<% if is_admin_page %>
				<tr onclick="show_book_info('<%= edit_book_path(book.id) %>')" style="cursor: pointer;">
			<% else %>
				<tr onclick="show_book_info('<%= book_path(book.id) %>')" style="cursor: pointer;">
			<% end %>
				<td><img class="img-rounded" src="<%= book.picture %>" alt="封面" style="width: 40px; height: 50px;"></td>
				<td><%= book.id %></td>
				<td><%= book.name %></td>
				<td><%= book.author %></td>
				<td><%= book.isbn %></td>
				<td><%= book.language.text unless book.language.nil? %></td>
				<td><%= book.category.text if book.category != nil %></td>
				<td><%= book.total %></td>
				<td><%= book.store > 0 ? book.store : 0 %></td>
				<td><%= book.order_queue_count %>人</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= will_paginate @books %>
