# encoding: utf-8
<div class="container-fluid">
	<div id="info" class="row-fluid">
		<div class="span12">
			<div class="book span12">
				<p>最近大家在看</p>
				<div class="row-fluid">
					<ul class="thumbnails">
						<% @books_hot_recent.each do |book| %>
						<li class="span2">
							<div class="thumbnail">
								<img class="img-rounded img_cursor" src="<%= book.picture %>" alt="封面" style="width: 180px; height: 180px;" onclick="show_book_info('<%= book_path(book.id) %>')">
							</div>
						</li>
						<% end %>
					</ul>
				</div>
				<p>总热门图书</p>
				<div class="row-fluid">
					<ul class="thumbnails">
						<% @books_hot.each do |book| %>
						<li class="span2">
							<div class="thumbnail">
								<img class="img-rounded img_cursor" src="<%= book.picture %>" alt="封面" style="width: 180px; height: 180px;" onclick="show_book_info('<%= book_path(book.id) %>')">
							</div>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="book hot span12">
					<p>新书推荐</p>
					<div class="row-fluid">
						<ul class="thumbnails">
							<% @books_new.each do |book| %>
								<li class="span2">
									<div class="thumbnail">
										<img class="img-rounded img_cursor" src="<%= book.picture %>" alt="封面" style="width: 180px; height: 180px;" onclick="show_book_info('<%= book_path(book.id) %>')">
									</div>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
