# encoding: utf-8
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<%= will_paginate @users %>
				<table class="table  table-hover">
					<caption>用户列表</caption>
					<thead>
						<tr>
							<th>姓名</th>
							<th>团队</th>
							<th>类型</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
						<tr onclick="show(<%= user.to_json %>)">
							<td><%= user.name %></td>
							<td><%= user.team %></td>
							<td><%= user.cate %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			<%= will_paginate @users %>
		</div>
		<div class="offset2 span3">
			<%= form_for(:user, url: add_user_path,remote: true ) do |f| %>
			    <label class="control-label" for="uname">姓名:</label>
			    <div class="controls">
					<%= f.text_field :name %>
			    </div>
			    <label class="control-label" for="uemail">邮箱:</label>
			    <div class="controls">
			      <%= f.text_field :email %>
			    </div>
			    <label class="control-label" for="uteam">团队:</label>
			    <div class="controls">
			      <%= f.text_field :team %>
			    </div>
			    <label class="control-label" for="ucate">类型:</label>
			    <div class="controls">
			      <%= f.text_field :cate %>
			    </div>
			    <div class="controls">
					<%= f.submit "提交", class: "btn" %>
			    </div>
			<% end %>
		</div>
	</div>
</div>

<!-- Modal for User-detail-->
<div id="userdetail" class="modal hide fade" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>用户信息</h3>
	</div>
	<%= form_for(:user, url: modify_user_path ) do |f| %>
	<div class="modal-body">
		<center>
			<%= f.text_field :id, id: "id", class: "span2", style: "display: none" %>
			<div class="input-prepend">
			  <span class="add-on">姓名:</span>
			  <%= f.text_field :name, id: "name", class: "span9" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on">类型:</span>
			  <%= f.text_field :cate, id: "cate", class: "span10" %>
			</div>
			<div class="input-prepend">
			  <span class="add-on">邮箱:</span>
			  <%= f.text_field :email, id: "email", class: "span12" %>
			</div>
			<br>
			<div class="input-prepend">
			  <span class="add-on">团队:</span>
			  <%= f.text_field :team, id: "team", class: "span12" %>
			</div>
		</center>
	</div>
	<div class="modal-footer">
		<%= link_to "删除", delete_user_path, method:"post", remote: true, id: "delete", class:"btn btn-danger" %>
		<%= f.submit "修改", class: "btn btn-info" %>
	</div>
	<% end %>
</div>

<script>
function show(user){
	// set value
	$('#id').val(user.id);
	$('#name').val(user.name);
	$('#email').val(user.email);
	$('#team').val(user.team);
	$('#cate').val(user.cate);
	$('#delete').attr('href',$('#delete').attr('href').split("?")[0]+"?user_id="+user.id);

	// show modal
	$('#userdetail').modal('show');
}

$('#delete').click(function(){
	$('#userdetail').modal('hide');
})
</script>
