# encoding: utf-8
<div class="row-fluid">
  <% search_path = params[:action] == 'admin_current' ? admin_borrowing_path : admin_undelivery_path %>
  <%= render partial: 'helper/search_box', locals: { path: search_path}%>
  <div class="span3 offset2">
    <%= render partial: 'helper/sort_box', locals: {sort_types: Borrow.current_sort_types, sort_model: 'borrow'}%>
  </div>
</div>
<%= will_paginate @borrows %>
<% is_borrowing_page = params[:action] == 'admin_current' %>
<div class="book container-fluid">
  <table class="table  table-hover">
    <caption>当前借阅</caption>
    <thead>
      <tr>
        <th class="grey-text">流水号</th>
        <th>封面</th>
        <th>编号</th>
        <th>书名</th>
        <th>借阅日期</th>
        <% if is_borrowing_page %>
          <th>应还日期</th>
          <th>超期</th> 
        <% end %>
        <th>用户</th>
        <th>位置</th>
        <th>操作</th>
        <% if is_borrowing_page %>
          <th>出库by</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @borrows.each do |borrow| %>
      <tr>
        <td class="grey-text"><%= borrow.id %></td>
        <% book = borrow.book %> 
        <td><img class="img-rounded img_cursor" src="<%= book.picture %>" alt="封面" style="width: 40px; height: 50px;" onclick="show_book_info('<%= book_path(book.id) %>')"></td>
        <td><%= book[:id] %></td>
        <td><%= book[:name] %></td>
        <td><%= borrow[:created_at].to_formatted_s(:Y_m_D) %></td>
        <% if is_borrowing_page %>
          <td><%= (!borrow[:should_return_date].nil?) ? borrow[:should_return_date].to_formatted_s(:Y_m_D) : "出库后定" %></td>
          <td><%=  (borrow[:should_return_date].nil? || borrow[:should_return_date] >= Time.now) ? "否" : "是" %></td>
        <% end %>
        <% user = borrow.user %> 
        <td><%= user.name %></td>
        <td><%= user.display_location%></td>
        <% if borrow[:status] == :undelivery.to_s %>
          <td><%= link_to "出库", deliver_borrow_path(borrow[:id]), method: "post", class: "btn btn-primary", data: { confirm: '确定出库?'}%></td>
        <% else %>
          <td><%= link_to "归还", return_borrow_path(borrow[:id]), method: "post", class: "btn btn-default", data: { confirm: '确定归还?'}%></td>
        <% end %>
        <% if is_borrowing_page %>
          <td><%= borrow.deliver_handler.name unless borrow.deliver_handler.nil?%></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @borrows %>