# encoding: utf-8
<%= will_paginate @borrows %>
<div class="book container-fluid">
	<table class="table  table-hover">
		<% if params[:action] == 'borrow_current' %>
			<caption>当前借阅</caption>
		<% elsif params[:action] == 'borrow_history' %>
			<caption>借阅历史</caption>
		<% end %>
		<thead>
			<tr>
				<th>封面</th>
				<th>书名</th>
				<th>ISBN</th>
				<th>借书日期</th>
				<% if params[:action] == 'borrow_current' %>
					<th>应还日期</th>
					<th>超期</th>
				<% elsif params[:action] == 'borrow_history' %>
				<% end %>
				<th>状态</th>
			</tr>
		</thead>
		<tbody>
			<% @borrows.each do |borrow| %>
			<tr>
				<% book = borrow.book %> 
				<td><img class="img-rounded" src="<%= book.picture %>" alt="封面" style="width: 40px; height: 50px;"></td>
				<td><%= book[:name] %></td>
				<td><%= book[:isbn] %></td>
				<td><%= borrow[:created_at].to_formatted_s(:Y_m_D) %></td>
				<% if params[:action] == 'borrow_current' %>
					<td><%= borrow[:should_return_date].to_formatted_s(:Y_m_D) %></td>
					<td><%=  borrow[:is_expired] == 1 ? "是" : "否" %></td>
				<% elsif params[:action] == 'borrow_history' %>
				<% end %>
				<td><%= BORROW_STATUSES[borrow[:status].to_i] %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= will_paginate @borrows %>
