<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<%= link_to "Minerva's Book Library", root_path, id: "logo", class: "brand" %>
				<% if signed_in? %>
					<ul class="nav pull-right">
						<li class="active divider-vertical"><a class="brand"><%= say_hello %></a></li>
						<li class="active divider-vertical"><a><i class="icon-white icon-user"></i>
							<%= current_user.name %></a>
						</li>
						<li class="active divider-vertical">
							<%= link_to signout_path, method: "delete" do %>
							<i class="icon-white icon-off"></i>注销
							<% end %>
						</li>
					</ul>
				<% else %>
					<%= form_for(:user, url: user_index_path, html: {class: "navbar-form pull-right"} ) do |f| %>
					<div class="control-group">
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on"><i class="icon-envelope"></i></span>
								<%= f.text_field :email, placeholder: "邮箱", class: "span2" %>
							</div>
					    	<div class="input-prepend">
								<span class="add-on"><i class="icon-certificate"></i></span>
					      	  	<%= f.password_field :password, placeholder: "密码", class: "span2" %>
					    	</div>
					    	<div class="input-prepend">
								<%= f.submit "登录", class: "btn" %>
					  		</div>
						</div>
					</div>
					<% end %>
				<% end %>
		</div>
	</div>
</div>

					