# encoding: utf-8
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<%= link_to "Minerva's Book Library", root_path, id: "logo", class: "brand" %>
				<% if signed_in? %>
					<ul class="nav pull-right">
						<li class="active divider-vertical"><a onclick="show_user('<%= user_path(current_user.id)%>')"><i class="icon-white icon-user"></i>
							<%= current_user.display_name  %></a>
						</li>
						<li class="active divider-vertical">
							<%= link_to delete_sessions_path, method: "delete" do %>
							<i class="icon-white icon-off"></i>注销
							<% end %>
						</li>
					</ul>
				<% else %>
					<%= form_for(:user, url: sessions_path, method: 'post', html: {class: "navbar-form pull-right"} ) do |f| %>
					<div class="control-group">
						<!-- <div class="controls"> -->
							<div class="input-prepend">
								<span class="add-on"><i class="icon-envelope"></i></span>
								<%= f.email_field :email, placeholder: "邮箱", class: "span10", required: "required" %>
							</div>
					    	<div class="input-prepend">
								<span class="add-on"><i class="icon-certificate"></i></span>
					      	  	<%= f.password_field :password, placeholder: "密码", class: "span10", required: "required" %>
					    	</div>
					    	<div class="input-prepend">
								<%= f.submit "登录", class: "btn" %>
					  		</div>
						<!-- </div> -->
					</div>
					<% end %>
				<% end %>
		</div>
	</div>
</div>

<!-- Modal for User-infor-->
<% if !current_user.nil? %>
<div id="userinfor" class="modal hide fade" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>用户信息</h3>
	</div>
	<div class="modal-body">
		<center>
			<div class="input-prepend">
			  <span class="add-on">姓名:</span>
			  <input class="span12" type="text" disabled value="<%= current_user.name %>">
			</div>
			<br>
			<div class="input-prepend">
			  <span class="add-on">邮箱:</span>
			  <input class="span12" type="text" disabled value="<%= current_user.email %>">
			</div>
			<br>
			<div class="input-prepend">
			  <span class="add-on">团队:</span>
			  <input class="span12" type="text" disabled value="<%= current_user.team %>">
			</div>
		</center>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		<button class="btn btn-primary">保存</button>
	</div>
</div>
<% end %>
					
