<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="active">
				<%= link_to newhot_path do %>
					<i class="icon-home"></i>首页
				<% end %>
			</li>
			<li>
				<%= link_to book_index_path do %>
					<i class="icon-book"></i>图书
				<% end %>
			</li>
			<li class="nav-header">借阅</li>
			<li>
				<%= link_to borrowing_path do %>
					<i class="icon-eye-open"></i>当前借阅
				<% end %>
			</li>
			<li>
				<%= link_to borrowed_path do %>
					<i class="icon-calendar"></i>借阅历史
				<% end %>
			</li>
			<li class="nav-header">预定</li>
			<li>
				<%= link_to book_index_path do %>
					<i class="icon-bell"></i>当前预定
				<% end %>
			</li>
			<li>
				<%= link_to book_index_path do %>
					<i class="icon-calendar"></i>预定历史
				<% end %>
			</li>
			<li class="nav-header">推荐</li>
			<li>
				<%= link_to book_index_path do %>
					<i class="icon-heart"></i>推荐列表
				<% end %>
			</li>
		</ul>
	</div>
</div>