# encoding: utf-8
<div class="well sidebar-nav">
	<ul id="nav_tab" class="nav nav-tabs">
	  <li class="active">
	    <a data-target="#user" data-toggle="tab" style="cursor: pointer;">读者</a>
	  </li>
	  <% if current_user.has_admin_authe %>
		  <li><a id="admin_tab" data-target="#admin" data-toggle="tab" style="cursor: pointer;">管理员</a></li>
	  <% end %>
	</ul>
	<div class="tab-content">
		<div id="user" class="well sidebar-nav tab-pane active in">
			<ul class="nav nav-list">
				<li id="uli_1" data-location="/library">
					<%= link_to library_path do %>
						<i class="icon-home"></i>首页
					<% end %>
				</li>
				<li id="uli_2" data-location="/books">
					<%= link_to books_path do %>
						<i class="icon-book"></i>图书
					<% end %>
				</li>
				<li class="nav-header">借阅</li>
				<li id="uli_3" data-location="/borrows/current_list">
					<%= link_to current_list_borrows_path do %>
						<i class="icon-eye-open"></i>当前借阅
					<% end %>
				</li>
				<li id="uli_4" data-location="/borrows/history_list">
					<%= link_to history_list_borrows_path do %>
						<i class="icon-calendar"></i>借阅历史
					<% end %>
				</li>
				<li class="nav-header">预约</li>
				<li id="uli_5" data-location="/orders/current_list">
					<%= link_to current_list_orders_path  do %>
						<i class="icon-bell"></i>当前预约
					<% end %>
				</li>
				<li id="uli_6" data-location="/orders/history_list">
					<%= link_to history_list_orders_path  do %>
						<i class="icon-calendar"></i>预约历史
					<% end %>
				</li>
			</ul>
		</div>
		<div id="admin" class="well sidebar-nav tab-pane in">
			<ul class="nav nav-list">
				<li id="ali_1" data-location="/admin/users">
					<%= link_to admin_users_path do %>
						<i class="icon-user"></i>用户管理
					<% end %>
				</li>
				<li id="ali_2" data-location="/admin/books">
					<%= link_to admin_books_path do %>
						<i class="icon-book"></i>图书管理
					<% end %>
				</li>
				<li class="nav-header">操作</li>
				<li id="ali_3" data-location="/admin/undelivery">
					<%= link_to admin_undelivery_path  do %>
						<i class="icon-eye-open"></i>出库管理
					<% end %>
				</li>
				<li id="ali_3" data-location="/admin/borrowing">
					<%= link_to admin_borrowing_path  do %>
						<i class="icon-eye-open"></i>归还管理
					<% end %>
				</li>
				<li id="ali_4" data-location="/admin/ordering">
					<%= link_to admin_ordering_path  do %>
						<i class="icon-calendar"></i>预约管理
					<% end %>
				</li>
				<li class="nav-header">历史</li>
				<li id="ali_5" data-location="/admin/borrowed">
					<%= link_to admin_borrowed_path  do %>
						<i class="icon-eye-open"></i>借阅历史
					<% end %>
				</li>
				<li id="ali_6" data-location="/admin/ordered">
					<%= link_to admin_ordered_path  do %>
						<i class="icon-calendar"></i>预约历史
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
  if(location.pathname.indexOf("/admin/")>=0){
    $('#nav_tab a[data-target="#admin"]').tab('show');
  }
  $('#side_bar li[data-location="'+ location.pathname + '"]').addClass('active')
  .siblings().removeClass('active');
});
</script>
