# encoding: utf-8
<div class="well sidebar-nav">
	<ul class="nav nav-tabs">
	  <li class="active">
	    <a data-target="#user" data-toggle="tab" style="cursor: pointer;">读者</a>
	  </li>
	  <% if current_user.is_admin? %>
		  <li><a data-target="#admin" data-toggle="tab" style="cursor: pointer;">管理员</a></li>
	  <% end %>
	</ul>
	<div class="tab-content">
		<div id="user" class="well sidebar-nav tab-pane fade active in">
			<ul class="nav nav-list">
				<li id="uli_1">
					<%= link_to library_path do %>
						<i class="icon-home"></i>首页
					<% end %>
				</li>
				<li id="uli_2">
					<%= link_to books_path do %>
						<i class="icon-book"></i>图书
					<% end %>
				</li>
				<li class="nav-header">借阅</li>
				<li id="uli_3">
					<%= link_to borrowing_path do %>
						<i class="icon-eye-open"></i>当前借阅
					<% end %>
				</li>
				<li id="uli_4">
					<%= link_to borrowed_path do %>
						<i class="icon-calendar"></i>借阅历史
					<% end %>
				</li>
				<li class="nav-header">预定</li>
				<li id="uli_5">
					<%= link_to ordering_path  do %>
						<i class="icon-bell"></i>当前预定
					<% end %>
				</li>
				<li id="uli_6">
					<%= link_to ordered_path  do %>
						<i class="icon-calendar"></i>预定历史
					<% end %>
				</li>
				<li class="nav-header">推荐</li>
				<li id="uli_7">
					<%= link_to recbook_path do %>
						<i class="icon-heart"></i>我要推荐
					<% end %>
				</li>
				<li id="uli_8">
					<%= link_to recommend_list_path  do %>
						<i class="icon-star"></i>推荐列表
					<% end %>
				</li>
			</ul>
		</div>
		<div id="admin" class="well sidebar-nav tab-pane fade in">
			<ul class="nav nav-list">
				<li id="ali_1">
					<%= link_to users_path do %>
						<i class="icon-user"></i>用户管理
					<% end %>
				</li>
				<li id="ali_2">
					<%= link_to books_path do %>
						<i class="icon-book"></i>图书管理
					<% end %>
				</li>
				<li id="ali_3">
					<%= link_to borrowing_path  do %>
						<i class="icon-eye-open"></i>借阅管理
					<% end %>
				</li>
				<li id="ali_4">
					<%= link_to borrowed_path  do %>
						<i class="icon-calendar"></i>预定管理
					<% end %>
				</li>
				<li id="ali_5">
					<%= link_to recommend_list_path  do %>
						<i class="icon-bell"></i>推荐管理
					<% end %>
				</li>
				<li id="ali_6">
					<%= link_to ordered_path  do %>
						<i class="icon-calendar"></i>预定历史
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
var id = "#uli_1";
$('ul li').each(function(){
  $(this).click(function(){
	  if($(this).attr("id")){
	    $(id).removeAttr("class");
	    id = "#"+$(this).attr('id');
	    $(this).addClass("active");
		}
	});
});
</script>
