# encoding: utf-8
<!DOCTYPE html>
<html>
<head>
  <title>SuccessFactors Library</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<% if only_show_content %>
			<div id="notice">
				<%= render 'layouts/notice' %>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		<% else %>
			<div class="row-fluid">
				<div id="side_bar" class="span2">
					<% if signed_in? %>
						<%= render 'layouts/sidebar' %>
					<% end %>
				</div>
				<div class="span9">
					<%= render 'layouts/header' %>
					
					<div id="notice">
					<%= render 'layouts/notice' %>
				</div>
					
					<div id="content">
						<%= yield %>
					</div>

				</div>
			</div>
		<% end %>
			<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
<script>
// $(document).ready(function() {
//     $('.pagination a').attr('data-remote', 'true');
// });
</script>
